<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>srvUsuario</servlet-name>
        <servlet-class>Controlador.srvUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvEmpleado</servlet-name>
        <servlet-class>Controlador.srvEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvProductos</servlet-name>
        <servlet-class>Controlador.srvProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvClientes</servlet-name>
        <servlet-class>Controlador.srvClientes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srvUsuario</servlet-name>
        <url-pattern>/srvUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvEmpleado</servlet-name>
        <url-pattern>/srvEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvProductos</servlet-name>
        <url-pattern>/srvProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvClientes</servlet-name>
        <url-pattern>/srvClientes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
